

<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 8px;">
  <span class="navbar-brand">
    <i class="fa fa-comments-o" aria-hidden="true" title='replace with designed icon'></i>
    testifly
  </span>
  <span class="pull-right">
    <span class="navbar-brand">
      <span class="header-menu cursor-hand" (click)='headerMenuClick("product")' >Product</span>
      <span class="header-menu cursor-hand" (click)='headerMenuClick("pricing")' >Pricing</span>
      <span class="header-menu cursor-hand" (click)='headerMenuClick("support")' >Support</span>

      &nbsp;&nbsp;
      <span class='header-sign-in-btn cursor-hand' (click)='signIn($event)' >Sign in</span>
    </span>
  </span>

</nav>
