

<nav class="navbar navbar-default navbar-fixed-top"
  style="margin-bottom: 8px;"
  (window:resize)="onResize($event)">
  <span class="navbar-brand">
    <i class="fa fa-comments-o" aria-hidden="true" title='replace with designed icon'></i>
    testifly
  </span>
  <!-- full menu -->
  <span id='menu-full' class="pull-right" [ngClass]='getCssClassForMenuFull()'>
    <span class="navbar-brand">
      <span class="header-menu cursor-hand" (click)='headerMenuClick("product")' >Product</span>
      <span class="header-menu cursor-hand" (click)='headerMenuClick("pricing")' >Pricing</span>
      <span class="header-menu cursor-hand" (click)='headerMenuClick("support")' >Support</span>

      &nbsp;&nbsp;
      <span class='header-sign-in-btn cursor-hand' (click)='signIn($event)' >Sign in</span>
    </span>
  </span>
  <!-- compact menu -->
  <span id='menu-compact' class="pull-right" [ngClass]='getCssClassForMenuCompact()'>
    <span class="navbar-brand">
      <i [ngClass]='getCssForShowingCompactMenu()' aria-hidden='true' (click)='hideCompactMenu()' ></i>
      <i [ngClass]='getCssForHidingCompactMenu()' aria-hidden='true' (click)='showCompactMenu()' ></i>
    </span>
  </span>

  <!-- for side menus start to define the div and overlays within the nav tag -->

</nav>

<div *ngIf='_compactMenuOverlay==true' class="header-compact-menu-container">
  <div style="position: absolute; top:50px;">
    <div class="header-compact-menu-item cursor-hand" (click)='headerMenuClick("product")' >
      <i class="fa fa-flask" aria-hidden='true'></i> <span style="position:absolute; left: 50px;">Product</span></div>
    <div class="header-compact-menu-item cursor-hand" (click)='headerMenuClick("pricing")' >
      <i class="fa fa-handshake-o" aria-hidden='true'></i> <span style="position:absolute; left: 50px;">Pricing</span></div>
    <div class="header-compact-menu-item cursor-hand" (click)='headerMenuClick("support")' >
      <i class="fa fa-users" aria-hidden='true'></i> <span style="position:absolute; left: 50px;">Support</span></div>
    <p>
    <div style="margin-top: 32px; margin-left: 12px;">
      <span class='header-sign-in-btn cursor-hand' (click)='signIn($event)' >Sign in</span>
    </div>
  </div>

</div>
