
<div>
  <!-- main image or carousel component -->
  <div class="landing-container">
    <div class="landing-container-overlay">
      <div class="landing-core-image-centering">
        <button class="btn btn-primary"
          style="font-size: 28px; border-radius: 40px; padding-top: 8px; padding-bottom: 8px; padding-left: 24px; padding-right: 24px;">

          take a tour <i class="fa fa-play-circle" aria-hidden="true"></i>
        </button>
      </div>
    </div>  <!-- landing container overlay -->
  </div>

  <!-- centralized contents (the container is in the center, but contents are still left-aligned) -->
  <div class="main-frame-panel">
    <!-- headline -->
    <div style="text-align: center;">
      <div class="landing-headline" style="padding-top: 32px;">
        Test ideas, websites, designs
        <br>swift like fly
        &nbsp;
        <i class='fa fa-flask' aria-hidden='true'></i>
      </div>
    </div>  <!-- headline -->

    <!-- testify approaches (directive) -->
    <landing-approach></landing-approach>

  </div>
</div>
