
<common-header></common-header>

<div class="main-frame-container">
  <div class='main-frame-panel'>
    hi there~
    <p>
    With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and our responsive utility classes.<br/>
    With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and our responsive utility classes.
  </div>

  <!-- common footer -->
  <common-trailer></common-trailer>
</div>
