
<!-- all these should be dynamic and loaded prior navigating to this page -->

<div class="container-fluid">
  <div class="row" style="margin-top: 8px; margin-bottom: 12px;">
    <span>[ category information ] {{_id}}</span>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4" style="padding: 1px;">
      <img src='/img/landing/featured/can_food_02.jpeg'
        class='item-main-img' />
    </div>

    <div class="col-md-8 col-xs-8">
      <div>[ brand image ]</div>
      <div style="padding-top: 8px;">
        <span>[ Liza's tomato soup (SOUP-T01) ]</span>
        <hr class='item-info-break' />
      </div>
      <div>
        <span>Price:&nbsp;</span>
        <span class="item-info-price">$23.99</span>
      </div>
      <div>
        <div class="item-info-hilight">Specifications:</div>
        <ul style="padding-left: 16px; color: #949494; font-size: 14px;">
          <li>made in Australia</li>
          <li>200ml</li>
          <li>beans</li>
          <li>syrup ingredients: sugar, water, colorings</li>
        </ul>
      </div>
    </div>
  </div>

  <hr style='margin-top: 8px; margin-bottom: 8px;' />

  <!-- suggestions -->
  <!-- paginations -->
  <div class="row">
    <div class="item-info-hilight" style="font-size: 18px;">Customers who viewed this item also viewed</div>
    <!--span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-chevron-left fa-stack-1x"></i>
    </span -->
    <slide-carousel-component></slide-carousel-component>
  </div>

</div>
