
<div
  class="jumbotron lab-index-jumbotron lab-container lab-container-center"
  style="padding: 12px; padding-left: 20px; padding-right: 20px; margin-top: 20px;">

  <h2>how to play</h2>

  <p>
    <ol style="padding-left: 20px;">
      <li>upload photos or a video (mp4)
          <img src='samples/tennis_1/tennisInAction_1.jpg'
            style='vertical-align: top; width: 300px; border-radius: 6px; border: 3px solid #00b51a;' />
      </li>
      <li>simple settings for the animation</li>
      <li>adding fancy effects on the final animation</li>
      <li>play it and share it!</li>
    </ol>
  <p>

  <p><a class="btn btn-primary btn-lg"
      [routerLink]="['/lab/labStep1']" routerLinkActive="active"
      role="button">get started</a>
  </p>
</div>
