
<div class="container-fluid">
  <div class='row'>
    <carousel-component></carousel-component>
  </div>
  <!-- end of row -->

  <div class='row' style='margin-left: 1px; margin-right: 1px;'>
    <div style="text-align: center;"> <!-- landing-feature-bar -->
      <span class="landing-feature-bar-font landing-feature-bar-2" style="">
          Featured this week
      </span>
    </div>
    <!-- 3 rows of products -->
    <featured-weekly-component></featured-weekly-component>
  </div>
  <!-- end of row (Featured) -->
</div>
